<html lang="en">
    <%- include('./partials/header.ejs') %> 
    
<body>
    <%- include("./partials/nav.ejs") %>
    
<div class = "contain">
    <div class = "nationwide-statistics">
         <div class = "total-confirmed">
               <h3> Total Confirmed Cases </h3>
               <%= helperTCC %> 
        </div> 

        <div class = "total-deaths"> 
            <h3> Total Deaths </h3>
            <%= helperTCD %> 
        </div>

        <div class = "total-recovered">
            <h3> Total Recovered </h3>
            <%= helperTR %>
        </div> 

        <div class = "today-cases">
            <h3> Cases Today </h3>
            <%= helperCT %>
        </div>
    </div>


    <div class = "mapping-data"> 
        <iframe src="https://ourworldindata.org/coronavirus-data-explorer?zoomToSelection=true&country=~USA&casesMetric=true&interval=total&hideControls=true&smoothing=0&pickerMetric=location&pickerSort=asc" loading="lazy" style="width: 600px; height: 400px; border: 0px none;"></iframe>
    </div>
</div>

<div class="us-map">
    <iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map&region=NorthAmerica" width="600px" height="400px"></iframe>
</div>


<div class = "foot">
    <%- include("./partials/footer.ejs") %>
</div>
</body>
</html>